@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Neutral Colors */
    --neutral-900: rgb(9, 21, 62);
    --neutral-800: hsl(226, 25%, 17%);
    --neutral-700: hsl(225, 23%, 24%);
    --neutral-600: hsl(226, 11%, 37%);
    --neutral-300: hsl(0, 0%, 78%);
    --neutral-200: hsl(217, 61%, 90%);
    --neutral-100: hsl(0, 0%, 93%);
    --neutral-0: `hsl(200, 60%, 99%);

    /* Red Colors */ 
    --red-400: hsl(3, 86%, 64%);
    --red-500: hsl(3, 71%, 56%);
    --red-700: hsl(3, 77%, 44%);

    /* Gradient */
    --light-gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);

    /* Font Size Paragraph */
    --fp: 1rem;

    /* Body Fonts */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a, 
p {
    text-decoration: none;
    color: var(--neutral-100);
}

p {
    margin: 0;
    width: fit-content;
}

h1, 
h2,
h3 {
    color: var(--neutral-100);
}

img {
    max-width: 100%;
    height: 0 auto;
}

a, .btn-border {
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    border-radius: 20px;
    padding: .3rem 1rem;
    font-size: clamp(1rem, 5vw, 1.2rem);
}

.active {
    background-color: var(--red-500);
}

a:hover {
    background-color: var(--red-400);
    transition: .2s ease-in;
}

.btn-border:hover {
    background-color: var(--red-400);
    transition: .2s ease-in;
}

/* Button */
.btn {
    background-color: var(--neutral-700);
    padding: .5rem;
    border-radius: 10px;
    border: none;
    outline-color: transparent;
    display: grid;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background: var(--dark-gradient);
    min-height: 100vh;
    width: min(1000px, 90%);
    margin: 2rem auto;
    background-repeat: no-repeat;
    overflow: auto;
}

/* Header */

header {
    background-color: var(--neutral-800);
    padding: .5rem 1rem;
    border-radius: 15px;
    margin-block-start: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a img  {
    display: grid;
}

header .btn:hover {
    background-color: var(--neutral-600);
    transition: .2s ease-in;
}

/* Extension Lists */
.extension-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-block: 1.5rem;
}

.extension-list h2 {
    font-size: clamp(1.7rem, 5vw, 2rem);
    margin-block-start: 0;
}

.extension-list ul {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

/* Box Lists */
.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(18rem, 100%),1fr));
}
.box-list {
    background-color: var(--neutral-800);
    border: 1px solid var(--neutral-600);
    border-radius: 20px;
    display: grid;
    padding: 1rem;
    gap: 2rem;
}

/* Top */
.box-list .top {
    display: grid;
    grid-template-columns:  8ch 1fr;
    height: 100px;
}

.box-list .top h3 {
    padding-block-end: .5rem;
    margin: 0;
}

.box-list .top p {
    color: var(--neutral-300);
}

/* Bottom */
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-border {
    padding: .4rem .8rem;
    font-size: clamp(.8rem, 5vw, 1rem);
    color: var(--neutral-100);
    border-radius: 30px;
    border: 1px solid var(--neutral-600);
}

.active-state {
    background-color: var(--red-500);
    width: 50px;
    height: 20px;
    border-radius: 30px;
    color: transparent;
    position: relative;
    border: 1px solid var(--neutral-100);
    cursor: pointer;
    overflow: hidden;
}

.circle {
    position: absolute;
    height: 17px;
    top: 1px;
    aspect-ratio: 1;
    background-color: var(--neutral-100);
    border-radius: 100%;
}

.active-state.inactive {
    background-color: var(--neutral-600);
}

.circle.inactive {
    right: 0;
}


